@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito';
}

.header-main {
    background-color: #2D3142;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.logo-main {
    position: absolute;
    width: 110px;
    left: 60px;
    top: 10px;
    transition: 0.2s;
    user-select: none;
}

.logo-main:hover {
    transform: scale(1.03);
}

.header-list {
    font-size: 22px;
    display: flex;
    gap: 80px;
    font-weight: 600;
}

.header-select {
    position: relative;
    color: #FFF;
    transition: color 0.3s ease;
    padding: 5px 0;
}

.header-select::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(0, 158, 8);
    width: 0;
    left: 0;
    transition: width 0.5s ease;
}

.header-select::after {
    bottom: 0;
}

.header-select:hover::after {
    width: 100%;
}

.nav-menu {
    display: none;
    user-select: none;
}

.title-contact {
    text-align: center;
    padding: 40px 0 0 0;
}

.box__text-contact {
    background-color: #ffffff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    width: 600px;
    font-size: 20px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.7;
}

.number-contact {
    color: blue;
    font-weight: bold;
}

.footer-main {
    position: relative;
    width: auto;
    height: 40px;
    top: 100px;
    margin: 0 auto;
    text-align: center;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-text-2 {
    display: none;
}



/* Responsive */



@media(max-width: 991px) {
    .header-list {
        display: none;
    }

    .nav-menu.active-menu {
        position: fixed;
        display: flex;
        opacity: 1;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 120vh;
        background-color: #2D3142;
        z-index: 10000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
        padding: 90px 0 0 0;
    }

    .menu-header {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 110px;
    }

    .header__menu-select {
        padding: 6px;
        color: #FFF;
        font-size: 35px;
        text-decoration: none;
        text-decoration-style: none;
    }

    .header__menu-select:hover {
        opacity: 0.8;
    }

    .logo-menu {
        position: relative;
        width: 140px;
        transition: 1.5s;
        -webkit-tap-highlight-color: transparent;
        top: -20px;
        transition: 0.2s;
    }

    .logo-menu:hover {
        transform: scale(1.03);
    }
}

@media(max-width: 767px) {
    .box__text-contact {
        width: 450px;
        font-size: 17px;
    }

    .title-contact {
        padding: 80px 0 0 0;
    }

    .footer-main {
        position: relative;
        width: auto;
        height: 40px;
        top: 50px;
        margin: 0 auto;
        text-align: center;
    }
    .footer-text {
        display: none;
    }

    .footer-text-2 {
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width:575px) {
    .box__text-contact {
        width: 350px;
        font-size: 13px;
    }
    .title-contact {
        padding: 100px 0 0 0;
    }
    .logo-main {
        left: 20px;
    }
    .footer-main {
        position: relative;
        width: auto;
        height: 40px;
        top: 100px;
        margin: 0 auto;
        text-align: center;
    }
}

@media(max-width: 416px) {
    .title-contact {
        font-size: 20px;
    }
    .box__text-contact {
        width: 300px;
        font-size: 11px;
    }
    .title-contact {
        padding: 100px 0 0 0;
    }
    .logo-main {
        left: 20px;
    }
    .footer-main {
        position: relative;
        width: auto;
        height: 40px;
        top: 150px;
        margin: 0 auto;
        text-align: center;
    }
    .footer-text-2 {
        font-size: 12.5px;
    }
}