@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito';
}

.header-main {
    background-color: #2D3142;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
}

.logo-main {
    position: absolute;
    width: 110px;
    left: 60px;
    top: 10px;
    transition: 0.2s;
    user-select: none;
}

.logo-main:hover {
    transform: scale(1.03);
}

.header-list {
    font-size: 22px;
    display: flex;
    gap: 80px;
    font-weight: 600;
}

.header-select {
    position: relative;
    color: #FFF;
    transition: color 0.3s ease;
    padding: 5px 0;
}

.header-select::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(0, 158, 8);
    width: 0;
    left: 0;
    transition: width 0.5s ease;
}

.header-select::after {
    bottom: 0;
}

.header-select:hover::after {
    width: 100%;
}

.nav-menu {
    display: none;
    user-select: none;
}

.title-work {
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translateX(-50%);
    color: #2b2d37;
    text-align: center;
}

.main-info {
    position: relative;
    height: auto;
    top: 150px;
}

.video-repair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0 auto;
    max-width: 1300px;
    user-select: none;
}



/* Responsive */



@media(max-width: 1199px) {
    .title-work {
        font-size: 27px;
    }
}

@media(max-width: 991px) {
    .header-list {
        display: none;
    }

    .nav-menu.active-menu {
        position: fixed;
        display: flex;
        opacity: 1;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 120vh;
        background-color: #2D3142;
        z-index: 10000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        text-align: center;
        padding: 90px 0 0 0;
    }

    .menu-header {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 110px;
    }

    .header__menu-select {
        padding: 6px;
        color: #FFF;
        font-size: 35px;
        text-decoration: none;
        text-decoration-style: none;
    }

    .header__menu-select:hover {
        opacity: 0.8;
    }

    .logo-menu {
        position: relative;
        width: 140px;
        transition: 1.5s;
        -webkit-tap-highlight-color: transparent;
        top: -20px;
        transition: 0.2s;
    }

    .logo-menu:hover {
        transform: scale(1.03);
    }

    .title-work {
        font-size: 23px;
    }
}

@media(max-width:785px){
    .main-info{
        padding-bottom: 40px;
    }
}

@media(max-width:575px) {
    .logo-main {
        left: 20px;
    }

    .title-work {
        font-size: 19px;
    }

    .elements-video {
        width: 280px;
        height: 190px;
    }
}

@media(max-width: 391px) {
    .title-work {
        font-size: 15.5px;
    }

    .elements-video {
        width: 250px;
        height: 170px;
    }
}